@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  background: rgb(150, 52, 132);
  background: linear-gradient(
    135deg,
    rgba(150, 52, 132, 1) 0%,
    rgba(48, 102, 190, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  color: #f1f1f1;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

h1 {

  font-size: 3em;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;

}

p {
  font-size: 0.95rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: #F2F1F5;
  font-size: 2.5rem;
  transition: all 0.5s;
}

#project {
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: #e9e0e0;
  background: rgb(48, 102, 190);
  background: linear-gradient(
    301deg,
    rgba(48, 102, 190, 1) 0%,
    rgba(96, 175, 255, 1) 100%
  );
  padding: 10px 25px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 12px;

.container {
  width: 500px;

  margin: 0 auto;
  text-align: center;
}

a:hover {
  color: #2af5ff;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 30%;
  margin: 24px auto;
}

li {
  list-style: none;
}

.projects {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  text-align: left;
  gap: 1rem;
}


.card {
  overflow: hidden;
  display: grid;
  gap: 1rem;
  place-items: center;
  background-color: #FFF;
  color: #0f0f0f;
  padding: 12px;
  border-radius: 10px;
  transition: all 0.5s;
}

.card:hover {
  transform: scale(1.05);
}

.project__img {
  border-radius: 5px;
  width: 100%;

  height: 100%;
  object-fit: cover;

}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
